.expertiseSection {
    background-color: lightblue;
    position: relative;
}

.expertiseSectionDescription {
    margin: 30px;
}

.expertiseDiv {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-wrap: wrap;
}

.expertiseDivTitle {
    font-size: 30px;
    margin: 30px;
}

.expertiseDivList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subExpertiseDiv {
    height: 400px;
    width: 270px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.subExpertiseTitles {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.subExpertiseTitles:active {
    animation-name: example;
}


.subExpertiseMainTitle {
    color : lightgray;
    margin: 10px;
}

.subExpertiseSubTitle {
    color : white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}