.skillsSection {
    background-color: yellow;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("./../img/skills.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.skillsSectionTitle {
    font-size: 50px;
}

.skillsList {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skillsItem {
    font-size: 25px;
    font-weight: bold;
}

@keyframes bigger {
    from{font-size: 25px;}
    to{font-size: 40px;}
}

.skillsItem:hover {
    animation-name: bigger;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}